@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@media print {
  body { background-color: white !important; }
  .print\:hidden { display: none !important; }
  .print\:p-0 { padding: 0 !important; }
  .print\:shadow-none { box-shadow: none !important; }
  .print\:border-none { border: none !important; }
  @page {
    margin: 1cm;
  }
}
